#wrapper {
    max-width: 768px;
    font-size: 110%;
}

h2 {
    font-size: 180%;
    /*margin-left: -1em;*/
}

div#expr dt {
    font-weight: normal;
    margin-top: 1em;
}

span.univ {
    font-size: 105%;
}

div#pub dt {
    font-weight: normal;
    margin-top: 0.65em;
}

dd {
    margin-top: 0.1em;
    margin-left: 1.6em;
}