body {
    font-family: Verdana, Georgia, Serif;
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    font-family: Georgia, Serif;
}

header, footer {
    text-align: center;
}

footer {
    margin-top: 2em;
    font-size: 0.75em;
}

dt {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

dd {
    clear: both;
}

a {
    color: #0645AD;
    text-decoration: none;
    background: url("../img/Icon_External_Link.png") no-repeat scroll right top transparent;
    padding-right: 12px;
}

a.internal {
    background: none;
    padding-right: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0B0080;
}


#publications {
    text-align: center;
}

.university {
    font-weight: bold;
}

.time {
    float: right;
}
