#wrapper {
    max-width: 900px;
    font-size: 110%;
}

h2 {
    font-size: 180%;
    /*margin-left: -1em;*/
}

div#education dt {
    font-weight: normal;
    margin-top: 1em;
}

div#employment dt {
    font-weight: normal;
    margin-top: 1em;
}

div#publication dt {
    font-weight: normal;
    margin-top: 0.65em;
}

span.entries {
    font-size: 105%;
}

dd {
    margin-top: 0.1em;
    margin-left: 1.6em;
}
