#wrapper {
    max-width: 768px;
}

h2 {
    font-size: 180%;

}

div#expr dt {
    font-size: 110%;
    font-weight: normal;
    margin-top: 1em;
}

div#pub dt {
    font-size: 105%;
    font-weight: normal;
    margin-top: 0.65em;
}

dd {
    margin-top: 0.1em;
    margin-left: 1.6em;
}