body {
    font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    font-family: Georgia, Serif;
}

#header, #footer {
    text-align: center;
}

#footer {
    margin-top: 2em;
    font-size: 0.75em;
}

dt {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

dd {
    clear: both;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #0645AD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0B0080;
}


#publications {
    text-align: center;
}

.university {
    font-weight: bold;
}

.time_range {
    float: right;
}
